table>tbody:empty {
    position: relative;
    display: table-caption;
    caption-side: bottom;
    min-height: 50px;
    text-align: center;
}

table>tbody:empty:before {
    content: 'No hay registros para visualizar.';
    position: absolute;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#inner-message {
    margin: 0 auto;
}